[Desktop Entry]
Type=Service
Comment=KDEmacs
Comment[ast]=KDEmacs
Comment[bg]=KDEmacs
Comment[bs]=KDEmacs
Comment[ca]=KDEmacs
Comment[ca@valencia]=KDEmacs
Comment[cs]=KDEmacs
Comment[da]=KDEmacs
Comment[de]=KDEmacs
Comment[el]=KDEmacs
Comment[en_GB]=KDEmacs
Comment[es]=KDEmacs
Comment[et]=KDEmacs
Comment[fi]=KDEmacs
Comment[fr]=KDEmacs
Comment[ga]=KDEmacs
Comment[gl]=KDEmacs
Comment[hu]=KDEmacs
Comment[it]=KDEmacs
Comment[kk]=KDEmacs
Comment[km]=KDEmacs
Comment[ko]=KDEmacs
Comment[lv]=KDEmacs
Comment[nb]=KDEmacs
Comment[nds]=KDEmacs
Comment[nl]=KDEmacs
Comment[nn]=KDEmacs
Comment[pa]=KDEmacs
Comment[pl]=KDEmacs
Comment[pt]=KDEmacs
Comment[pt_BR]=KDEmacs
Comment[ru]=KDEmacs
Comment[sk]=KDEmacs
Comment[sr]=KDEmacs
Comment[sr@ijekavian]=KDEmacs
Comment[sr@ijekavianlatin]=KDEmacs
Comment[sr@latin]=KDEmacs
Comment[sv]=KDEmacs
Comment[tr]=KDEmacs
Comment[ug]=KDEmacs
Comment[uk]=KDEmacs
Comment[x-test]=xxKDEmacsxx
Comment[zh_CN]=KDEmacs
Comment[zh_TW]=KDEmacs
Name=KDEmacs
Name[ast]=KDEmacs
Name[bg]=KDEmacs
Name[bs]=KDEmacs
Name[ca]=KDEmacs
Name[ca@valencia]=KDEmacs
Name[cs]=KDEmacs
Name[da]=KDEmacs
Name[de]=KDEmacs
Name[el]=KDEmacs
Name[en_GB]=KDEmacs
Name[eo]=KDEmacs
Name[es]=KDEmacs
Name[et]=KDEmacs
Name[fi]=KDEmacs
Name[fr]=KDEmacs
Name[ga]=KDEmacs
Name[gl]=KDEmacs
Name[hu]=KDEmacs
Name[it]=KDEmacs
Name[ja]=KDEmacs
Name[kk]=KDEmacs
Name[km]=KDEmacs
Name[ko]=KDEmacs
Name[lv]=KDEmacs
Name[nb]=KDEmacs
Name[nds]=KDEmacs
Name[nl]=KDEmacs
Name[nn]=KDEmacs
Name[pa]=KDEmacs
Name[pl]=KDEmacs
Name[pt]=KDEmacs
Name[pt_BR]=KDEmacs
Name[ro]=KDEmacs
Name[ru]=KDEmacs
Name[sk]=KDEmacs
Name[sq]=KDEmacs
Name[sr]=KDEmacs
Name[sr@ijekavian]=KDEmacs
Name[sr@ijekavianlatin]=KDEmacs
Name[sr@latin]=KDEmacs
Name[sv]=KDEmacs
Name[tr]=KDEmacs
Name[ug]=KDEmacs
Name[uk]=KDEmacs
Name[x-test]=xxKDEmacsxx
Name[zh_CN]=KDEmacs
Name[zh_TW]=KDEmacs
GenericName=KDEmacs
GenericName[ast]=KDEmacs
GenericName[bg]=KDEmacs
GenericName[bs]=KDEmacs
GenericName[ca]=KDEmacs
GenericName[ca@valencia]=KDEmacs
GenericName[cs]=KDEmacs
GenericName[da]=KDEmacs
GenericName[de]=KDEmacs
GenericName[el]=KDEmacs
GenericName[en_GB]=KDEmacs
GenericName[es]=KDEmacs
GenericName[et]=KDEmacs
GenericName[fi]=KDEmacs
GenericName[fr]=KDEmacs
GenericName[ga]=KDEmacs
GenericName[gl]=KDEmacs
GenericName[hu]=KDEmacs
GenericName[it]=KDEmacs
GenericName[kk]=KDEmacs
GenericName[km]=KDEmacs
GenericName[ko]=KDEmacs
GenericName[lv]=KDEmacs
GenericName[nb]=KDEmacs
GenericName[nds]=KDEmacs
GenericName[nl]=KDEmacs
GenericName[nn]=KDEmacs
GenericName[pa]=KDEmacs
GenericName[pl]=KDEmacs
GenericName[pt]=KDEmacs
GenericName[pt_BR]=KDEmacs
GenericName[ru]=KDEmacs
GenericName[sk]=KDEmacs
GenericName[sr]=KDEmacs
GenericName[sr@ijekavian]=KDEmacs
GenericName[sr@ijekavianlatin]=KDEmacs
GenericName[sr@latin]=KDEmacs
GenericName[sv]=KDEmacs
GenericName[tr]=KDEmacs
GenericName[ug]=KDEmacs
GenericName[uk]=KDEmacs
GenericName[x-test]=xxKDEmacsxx
GenericName[zh_CN]=KDEmacs
GenericName[zh_TW]=KDEmacs
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_kdemacs
X-KDE-PluginKeyword=ktexteditor_kdemacs
X-KDE-PluginInfo-Name=ktexteditor_kdemacs
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
